.header-settings {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.header-settings__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #1e1e1e;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 40px;
}
.header-settings__item img {
  max-width: 100%;
  max-height: 100%;
}
