.search-panel {
  margin-left: 100px;
  flex: 1 1 auto;
}
.search-container {
  position: relative;
  display: inline-block;
}
.search-input {
  width: 340px;
  padding: 11.5px 60px 11.5px 50.5px;
  outline: none;
  border: 1px solid #1e1e1e;
  border-radius: 40px;
  background: #1e1e1e;
  font-size: 12px;
  color: #fff;
}

.search-btn {
  position: absolute;
  top: 9px;
  left: 13px;
  background: transparent;
  border: none;
  cursor: pointer;
}
