.header {
  padding-top: 23px;
}
.header-nav {
  border-bottom: 1px solid #272727;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header-search {
  margin-left: 138px;
  flex: 1 1 auto;
}
.header-search__wrapper {
  position: relative;
}
.header-search__input {
  width: 340px;
  font-weight: 400;
  border-radius: 31.056px;
  border: 1px solid #1e1e1e;
  outline: none;
  color: #898989;
  font-size: 11.646px;
  padding: 11px 45px 11px 45px;
  background: #1e1e1e;
  transition: border-color 1s ease;
}
.header-search__input:focus {
  border: 1px solid white;
}
.header-search__btn {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  left: 6px;
  top: 9px;
}

.header-settings {
  display: flex;
  gap: 15.53px;
}
.header-settings__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38.82px;
  height: 38.82px;
  border: none;
  border-radius: 38.82px;
  background: #1e1e1e;
  outline: none;
  cursor: pointer;
}
.header-settings__item:last-child img {
  width: 38.82px;
  height: 38.82px;
}
@import '../../scss/device/device';
